html {
    padding: 20px;
}
body {
    border-style:dotted;
    border-color:teal;
    border-width: 10px;
    padding: 400px;
    background-color: darkseagreen;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
    animation-name: example;
    animation-duration: 2s;
    animation-delay: 2s;
          
}
@keyframes example {
    from {background-color:turquoise}
    to {background-color:lavender}
}
img {
    transform: translate(200px);
    size-adjust: 200px;
}
img {
    opacity: 0.4;
}
img:hover {
    opacity: 1.0;
}

h1{  
     text-align:center;
     font-family: "Times New Roman", Times, serif;
     border-top: solid #001;
     border-bottom: solid #001;
     
}

h2{ 
    text-align:center;
    font-weight:300;
    font-family:"Times New Roman", Times, serif;
    border-top: solid #001;
    border-bottom: solid #001;
    
}
a:hover {
    color:honeydew
}

#title {
    float: center;
    width: 97%;
    background-color:silver;
    padding: 20px;
    font-size: xx-large;
    text-shadow: 15px 15px 15px gray, 0 0 10px red ; 
}

#contact {
    float:center;
    width: 97%;
    padding: 20px;
    transform: translate(800px);
    font-size: large;
    font-style: italic;
}

#objective {
    float:center;
    width:97%;
    padding: 20px;
}
#content {
    float: left;
    width: 97%;
    padding: 20px;
}
#projects {
    float: center;
    width: 97%;
    padding: 20px;
}

#experience {
    float: center;
    width: 97%;
    padding: 20px;
}

#education {
    float: center;
    width: 97%;
    padding: 20px;
}

#skills {
    float: center;
    width: 97%;
    padding: 20px;
}
ul {
    column-count: 2;
    border-style:groove;
    border-color:snow;
    border-width: 5px;

}
