html {
    padding: 20px;
}
body {
    border-style:dotted;
    border-color: yellow;
    border-width: 20px;
    padding: 100px;
    background-color: darkseagreen;
    font-family: "Times New Roman", Times, serif;
    padding: 20px;
    margin-center: 20px;
    animation-name example;
    animation-duration 2s;
    animation-delay; 2s;
          
}
@keyframes example {
    from {background-color: green;}
    to {background-color: blue;}
}
img {
    transform: translate(500px);
}
img {
    opacity: 0.4;
}
img:hover {
    opacity: 1.0;
}

h1{  
     text-align:center;
     font-family: "Times New Roman", Times, serif;
     border-top: solid #001;
     border-bottom: solid #001;
     margin-center: 20px;
}

h2{ 
    text-align:center;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif;
    border-top: solid #001;
    border-bottom: solid #001;
    margin-center: 20px;
}

#title {
    float: center;
    width: 75%;
    background-color: deepskyblue;
    padding: 20px;
}

#contact {
    float:center;
    width: 75%;
    padding: 20px;
}

#objective {
    float:center;
    width:75%;
    padding: 20px;
}
#content {
    float: left;
    width: 75%;
    padding: 20px;
}

#education {
    float: center;
    width: 75%;
    padding: 20px;
}

#skills {
    float: center;
    width: 75%;
    padding: 20px;
}
