html {
    padding: 20px;
}
body {
    background-color: rgb(50,168,82);
    text-align:center;
    font-family: "Times New Roman", Times, serif
    padding: 20px;
    margin-center: 20px;
    
}

h1{  
     text-align:center;
     font-family: "Times New Roman", Times, serif;
     font-weight: normal;
     border-top: solid #001;
     border-bottom: solid #001;
     margin-center: 20px;
}

h2{ 
    text-align:center;
    font-family: "Times New Roman", Times, serif
    border-top: solid #001;
    border-bottom: solid #001;
    margin-center: 20px;
}

#contact {
    float:center;
    width: 75%;
    padding: 20px;
}

#objective {
    float:center;
    width: 75%;
    padding: 20px;
}
#content {
    float: left;
    width: 75%;
    padding: 20px;
}

#education {
    float: center;
    width: 75%;
    padding: 20px;
}

#skills {
    float: center;
    width: 75%;
    padding: 20px;
}
